<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/P/web_fe_demo/Assets/Icon/favicon.ico.svg" type="image/x-icon" />
    <title>音乐_频率能量条</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <canvas id="music_canvas"></canvas>

    <section class="music-box">
        <audio controls autoplay loop id="music_audio">
            <source src="/FE/Assets/audio/崔子格 - 卜卦.mp3" type="audio/mpeg">
        </audio>
    </section>

    <script src="./index.js"></script>
</body>

</html>
