<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../Assets/Icon/favicon.ico.svg" type="image/x-icon">
    <title>代码雨</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <section class="canvas-box">
        <canvas id="canvas_id"></canvas>
    </section>

    <script src="./index.js"></script>
</body>

</html>
