<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/P/web_fe_demo/Assets/Icon/favicon.ico.svg" type="image/x-icon">
    <title>轮播图</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <section class="carousel-wrap">
        <ul class="carousel-list">
            <li class="carousel-item" style="background-image: url(/P/web_fe_demo/Assets/Image/001.jpg);"></li>
            <li class="carousel-item" style="background-image: url(/P/web_fe_demo/Assets/Image/002.jpg);"></li>
            <li class="carousel-item" style="background-image: url(/P/web_fe_demo/Assets/Image/003.jpg);"></li>
            <li class="carousel-item" style="background-image: url(/P/web_fe_demo/Assets/Image/004.jpg);"></li>
            <li class="carousel-item" style="background-image: url(/P/web_fe_demo/Assets/Image/005.jpg);"></li>
            <li class="carousel-item" style="background-image: url(/P/web_fe_demo/Assets/Image/006.jpg);"></li>
        </ul>

        <section class="carousel-button">
            <section class="arrow-button arrow-left">Prev</section>
            <section class="arrow-button arrow-right">Next</section>
        </section>
    </section>

    <script src="./index.js"></script>
</body>

</html>
